{%extends 'base.html'%}
{%block contenutoCointainer%}
    <form action="/addProduct/" method="POST">
        <h3>Product name</h3>
        <input type="text" name="productName"/>
        <h3>Supplier id</h3>
        <input type="text" name="supplierID"/>
        <h3>Price</h3>
        <input type="text" name="price"/>
        <br>
        <br>
        <input type="submit" value="Add" /> 
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h1>{{ message }}</h1>
            {% endfor %}
        {% endif %}
    {% endwith %}
{%endblock%}
